<html>
<head>
  <!-- <script type="text/javascript" src="/js/index.js"></script> -->
  <!-- <script type="text/javascript" src="/js/calculator.js"></script>
  <script type="text/javascript" src="/js/store.js"></script> -->

  <script type="text/javascript" src="/js/app.bundle.js"></script>
</head>
<body>
  Hello EJS modified
  <div style="background-color:blue;">bla bla</div>
</body>
</html>
